/* Шапка */
.header {
    width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
    align-items: center;
    padding: 92px 50px 96px;
}

/* меню прижимаю к левому краю */
.header__menu {
    justify-self: start;
}

/* пункты меню в строку через flex */
.header__links-list {
    list-style: none;
    display: flex;
    gap: 17px;
    align-items: center;
    padding: 0;
    margin: 0;
}

/* нативные буллеты */
.header__links-item {
    display: list-item;
    list-style-type: circle;
    list-style-position: outside;
    margin-left: 16px;
}

.header__links-item:first-child {
    list-style-type: none;
    margin-left: 0;
}

.header__link {
    font-size: 18px;
    line-height: 100%;
    text-decoration: underline;
    text-underline-offset: 3px;
    color: #000;
}

.header__link_active {
    text-decoration: none;
}

/* Общие стили для address */
.address {
    font-style: normal;
    font-size: 18px;
    line-height: 135%;
}

.address__link {
    display: block;
    color: #000;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.address__text {
    margin: 0;
}

/* контакты справа в header */
.header__address {
    justify-self: end;
    white-space: nowrap;
    width: 240px;
}

.header__logo-image {
    display: block;
    width: 148px;
    height: 105px;
    margin-top: 1px;
}

/* Логотип по центру */
.header__logo {
    justify-self: center;
}

/* Обложка */
.cover {
    width: 1100px;
    margin: 0 auto;
    padding: 165px 50px 50px;
    color: #fff;
    min-height: 757px;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../images/cover.jpg");
    background-size: cover;
    background-position: center;
}

/* большой заголовок */
.cover__title {
    font-size: 100px;
    line-height: 115px;
    letter-spacing: 0.3em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    width: 100%;
}

/* каждое слово на новой строке */
.cover__title-word {
    display: block;
}

.cover__title-word_start {
    text-indent: 0;
}

.cover__title-word_middle {
    text-indent: 331px;
    margin-top: 20px;
}

.cover__title-word_end {
    display: block;
    text-align: right;
    margin-top: 20px;
    margin-right: -0.3em;
}

/* текст слева - кнопка справа */
.cover__description {
    width: 1000px;
    margin-top: 106px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cover__text {
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0;
    width: 637px;
    letter-spacing: 0em;
    word-spacing: 18px;
}

/* Кнопка */
.cover__button {
    cursor: pointer;
    width: 256px;
    padding: 14px 0;
    background-color: transparent;
    border: 1px solid #fff;
    font-size: 22px;
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ЛОТЫ */
.lots {
    width: 1052px;
    margin: 0 auto;
    padding-top: 185px;
}

.lots__title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 100%;
    margin-bottom: 27px;
    margin-left: 40px;
}

/* три карточки в ряд */
.lots__list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.lots__item {
    width: 334px;
    min-height: 596px;
    flex-shrink: 0;
}

/* Карточка-ссылка */
.lot {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    background-size: cover;
    background-position: center;
}

/* затемнение картинки */
.lot::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

/* фоны для каждой карточки */
.lot_type_film {
    background-image: url("../images/card-lot-01.jpg");
}

.lot_type_book {
    background-image: url("../images/card-lot-02.jpg");
}

.lot_type_painting {
    background-image: url("../images/card-lot-03.jpg");
}

/* Текст сверху картинки */
.lot__content {
    position: relative;
    z-index: 2;
    padding: 49px 40px 38px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.lot__heading {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 3px;
    margin-bottom: 5px;
    margin-top: 0;
}

.lot__text {
    font-size: 20px;
    color: #fff;
    line-height: 120%;
    margin-top: auto;
    margin-bottom: 10px;
}

.lots__link {
    font-size: 20px;
    color: #000;
    text-decoration: underline;
    text-underline-offset: 5px;
    display: block;
    margin-top: 31px;
    margin-left: 40px;
}

/* ОБ АУКЦИОНЕ */
.about {
    width: 1052px;
    margin: 118px auto 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    gap: 75px;
}

.about__logo-column {
    width: 240px;
    height: 240px;
    margin-top: 36px;
    margin-left: 47px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.about__logo {
    width: 148px;
    height: 114px;
    display: block;
}

.about__text-column {
    width: 693px;
    margin-top: 35px;
    margin-left: 0;
}

.about__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    margin: 100px 0 102px 0;
    padding-top: 7px;
}

.about__description {
    display: flex;
    flex-direction: column;
}

.about__paragraph {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 24px 0;
}

/* подвал сайта */
.footer {
    width: 1100px;
    margin: 156px auto 0;
    padding: 0 50px 82px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
}

/* контакты слева в footer */
.footer__address {
    justify-self: start;
    width: 280px;
}

/* Меню по центру */
.footer__menu {
    justify-self: center;
}

.footer__menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__menu-item {
    margin-bottom: 3px;
}

.footer__menu-link {
    font-size: 18px;
    line-height: 100%;
    color: #000;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.footer__menu-link_active {
    text-decoration: none;
}

/* иконки соц. сетей */
.footer__socials {
    justify-self: end;
    display: flex;
    gap: 48px;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: flex-start;
}

.footer__social-item {
    display: flex;
}

.footer__social {
    display: flex;
    width: 48px;
    height: 48px;
}

.footer__social-icon {
    display: block;
    width: 100%;
    height: 100%;
}